<section
	id="about-section"
	class="h-100 d-flex flex-column align-items-center"
>
	<img
		class="rounded-circle p-1 mb-3"
		src="/Linkedin.jpg"
		width="200px"
		height="auto"
		alt="Profile_Headshot"
	/>
	<p class="lh-lg">
		A <b class="fw-bold">Software Engineer</b> with 3+ years of experience
		designing and implementing scalable, accessible, and responsive user
		interfaces using Angular, React, TypeScript, and REST APIs. Proven
		ability to collaborate cross-functionally and deliver well-tested,
		performant applications. Strong foundation in computer science and a
		passion for building seamless user experiences. Some hands-on exposure
		to React through personal projects, and with a willingness to grow
		further into full-stack development environments.
	</p>
</section>
