<main class="h-100 d-flex flex-column justify-content-center">
	<section
		id="about-section"
		class="me-5 rounded"
	>
		<h1 class="fs-1 mb-2">Daniel Dominguez</h1>
		<p class="lh-base">
			A <b class="fw-bold">Software Engineer</b> with 3+ years of
			experience designing and implementing scalable, accessible, and
			responsive user interfaces using Angular, React, TypeScript, and
			REST APIs. Proven ability to collaborate cross-functionally and
			deliver well-tested, performant applications. Strong foundation in
			computer science and a passion for building seamless user
			experiences. Some hands-on exposure to React through personal
			projects, and with a willingness to grow further into full-stack
			development environments.
		</p>
	</section>
</main>
