@media screen and (min-width: 800px) {
	main {
		flex-direction: row;
	}

	#welcome-section {
		width: 50%;
		margin-right: 2rem;
		padding: 3rem;
		height: 100%;
		display: flex;
		flex-direction: column;
		position: sticky;
		top: 0;
	}

	#page-section {
		width: 50%;
	}
}

@media screen and (max-width: 800px) {
	main {
		flex-direction: column;
	}

	#welcome-section {
		width: 100%;
		justify-items: center;
		text-align: center;
		padding: 3rem 3rem 0 3rem;
		margin-top: 2rem;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	#page-section {
		width: 100%;
	}

	header {
		background: var(--mat-sys-primary);
		position: fixed;
		top: 0;
		z-index: 1;
	}
}

.chart {
	border: 1px solid var(--mat-sys-secondary);
	padding: 1rem;
	height: 100%;
	width: 50%;
}
