<title>Daniel Dominguez Portfolio</title>
<header class="w-100">
	<nav-bar />
</header>
<main class="w-100 d-flex">
	<section id="welcome-section">
		<main class="h-100 d-flex flex-column">
			<section
				id="about-section"
				class="rounded position-sticky top-0"
			>
				<h1 class="fs-1 mb-2">Daniel Dominguez</h1>
				<h2 class="fs-5">Software Engineer</h2>
				<app-contact-links></app-contact-links>
				<img
					class="w-100 h-50 mt-3 chart"
					src="http://ghchart.rshah.org/00dddd/Dandingo1"
					alt="Github Chart"
				/>
			</section>
		</main>
	</section>
	<section
		id="page-section"
		class="p-5 d-flex flex-column"
	>
		<router-outlet />
	</section>
</main>
