<title>Daniel Dominguez Portfolio</title>
<header class="w-100">
	<nav-bar />
</header>
<main class="w-100 d-flex flex-row">
	<section class="w-50">
		<main class="p-5 h-100 d-flex flex-column">
			<section
				id="about-section"
				class="me-5 rounded position-sticky top-0"
			>
				<h1 class="fs-1 mb-2">Daniel Dominguez</h1>
				<h2 class="fs-5">Software Engineer</h2>
				<!-- Connect with an express server and display data from git hub and other sources -->
				<app-contact-links></app-contact-links>
			</section>
		</main>
	</section>
	<section class="p-5 w-50 d-flex flex-column">
		<router-outlet />
	</section>
</main>
