<title>Daniel Dominguez Portfolio</title>
<header
	id="navigation"
	class="w-100"
>
	<nav-bar />
</header>
<main
	id="main-content"
	class="w-100 d-flex"
>
	<section id="welcome-section">
		<h1 class="fs-1 mb-2">Daniel Dominguez</h1>
		<h2 class="fs-5">Software Engineer</h2>
		<app-contact-links></app-contact-links>
		<h3 class="fs-5 mt-1">Github Contribution Chart</h3>
		<img
			class="w-100 h-50 mt-1 chart"
			src="https://ghchart.rshah.org/00dddd/Dandingo1"
			alt="Github Chart"
		/>
	</section>
	<section
		id="page-section"
		class="p-5 d-flex flex-column"
	>
		<router-outlet />
	</section>
</main>
