mat-nav-list {
	background: var(--mat-sys-inverse-primary);
	padding: 0.25rem;
	display: flex;
	justify-content: end;
}

a {
	padding: 0.25rem 0.5rem;
	margin: 0 0.5rem;
	display: flex;
	width: fit-content;
}

#resume {
	background-color: var(--mat-sys-surface);
}
