<nav class="p-2">
	<ul class="d-flex flex-column">
		<li>
			<a
				routerLink="/about"
				routerLinkActive="active-link"
			>
				About</a
			>
		</li>
		<li>
			<a
				routerLink="/experience"
				routerLinkActive="active-link"
			>
				Experience</a
			>
		</li>
		<li>
			<a
				routerLink="/projects"
				routerLinkActive="active-link"
			>
				Projects</a
			>
		</li>
		<li>
			<a
				href="/resume"
				target="_blank"
			>
				Resume</a
			>
		</li>
	</ul>
</nav>
<footer>
	<app-contact-links />
</footer>
