nav {
	padding: calc(var(--base-padding) * 0.5);
	background-color: #eeeeee;
	margin-right: 1rem;
	border-radius: 1rem;
}

ul {
	display: flex;
	flex-direction: column;
}

li {
	padding: calc(var(--base-padding) * 0.5);
	text-align: start;
	margin: 0.25rem;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

.active-link {
	font-weight: bold;
}

i:hover {
	color: gray;
}
