nav {
	background-color: #eeeeee;
}

li {
	padding: calc(var(--base-padding) * 0.5);
	text-align: start;
	margin: 0.25rem;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: gray;
}

.active-link {
	font-weight: bold;
}
