section {
	background-color: #eeeeee;
}

.job-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1 {
	font-weight: 500;
}

.image-container {
	width: 275px;
	height: 125px;
}
