<main class="d-flex justify-content-around mt-2">
	<a
		type="button"
		class="btn btn-sm"
		href="https://www.linkedin.com/in/daniel-dominguez-811385197/"
		target="_blank"
		data-tooltip="Linkedin Profile"
	>
		<i class="bi bi-linkedin fs-3"></i>
	</a>
	<a
		type="button"
		class="btn btn-sm"
		href="https://github.com/Dandingo1/"
		target="_blank"
		data-tooltip="Github Profile"
	>
		<i class="bi bi-github fs-3"></i>
	</a>
	<a
		type="button"
		class="btn btn-sm"
		href="mailto:dedominguez97@gmail.com"
		data-tooltip="Mail"
	>
		<i class="bi bi-envelope-fill fs-3"></i>
	</a>
</main>
