@media screen and (max-width: 800px) {
	#contact-link-container {
		justify-content: center;
		margin-top: 0.5rem;
	}
}

#contact-link-container {
	display: flex;
	margin-bottom: 1rem;
}

a {
	margin-right: 2rem;
	color: var(--mat-sys-secondary);
}

a:last-child {
	margin-right: 0;
}
