@for (exp of experienceArray; track exp.title) {
	<app-portfolio-card [experience]="exp" />
}

<!-- <p>
    Software Engineer 08/2022-11/2024
Software Engineer Intern 06/2021-07/2022
Cisco Systems Inc. Remote, US
• Developed and maintained reusable UI components using Angular, TypeScript, and NgRx in a
monolithic architecture to ensure consistency and performance across PX Cloud.
• Collaborated with UX designers using Figma to review and prototype UI workflows. Worked with a
component team to create and maintain reusable UI components using Storybook, aligning with
accessibility and design standards.
• Followed front-end security best practices including input sanitization, and Angular's built-in
protections.
• Built reusable UI components and implemented NgRx for state management, improving performance
and maintainability.
• Contributed to CI/CD workflows using CircleCI to automate unit and E2E testing (Jest, Cypress) and
streamline frontend deployments.
• Integrated RESTful APIs to manage partner subscription data, support scheduling, and session
visibility features.
• Created and implemented feature flags using Split.io to support A/B testing and safer, incremental
feature rollouts.
• Practiced Test-Driven Development (TDD) using Jest for unit tests and Cypress for end-to-end
coverage of user flows (80%+ line coverage).
• Participated in sprint ceremonies, estimated effort via story points, and collaborated cross-functionally
with designers and backend developers in Agile teams.
• Employed Git and GitHub for version control and participated in code reviews and continuous
integration practices.
Software Engineer Intern 06/2020-08/2020
RealmOne Columbia, MD
• Revamped the homepage using HTML, CSS, and Angular, aligning UI design with modern web and
responsive practices. Worked closely with designers and engineers in daily scrums to implement new
features and refine designs.
</p> -->
